* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --main-color: #7678ed;
  --main-color2: #ffffff;
  --main-color3: #c2f8cb;
  --box-shadow-color: #b9faf8;
  --btn-color: #b8c0ff;
  --player1-color: #7bfffb;
  --player2-color: #6f2dbd;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#game {
  background-color: var(--main-color2);
  color: var(--main-color);
  box-shadow: 0 0 15px var(--box-shadow-color);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  height: 40vh;
}

.row {
  background-color: var(--main-color2);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  background-color: var(--btn-color);
  color: var(--main-color2);
  font-size: 60px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 100%;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--main-color3);
  color: var(--main-color2);
}

#restartBtn {
  background-color: var(--btn-color);
  color: var(--main-color2);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 100%;
  transition: 0.3s;
}

#restartBtn{

}